* {
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 1088px;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}

.page-header {
    width: 100%;
    height: 90px;
    background-color: #00000066;
}
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.page-header .page-icon {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
}

.page-header span.logo {
    color: #FF0000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}
.page-header span {
    color: #FFFFFF;
}
.page-nav-list {
    display: flex;
}
.page-nav-list a {
    padding: 33px 40px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.page-nav-list a:hover {
    background: #FFFFFF33 0% 0% no-repeat padding-box;
    opacity: 1;
}

.banner {
    height: calc(100vh - 28px);
    background-image: url("../images/Image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: #ffff;
}

.banner .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-title {
    font-weight: 900;
    font-size: 90px;
    text-transform: uppercase;
}
.banner-text {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 40px 0 54px 0;
}

.banner-buttons {
    display: inline-block;
}
.btn_btn_banner_red {
    background: #FF0000 0% 0% no-repeat padding-box;
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 15px 28px;
}

.btn_btn_banner_white {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #FF0000;
    padding: 15px 28px;

}

.banner::after {
    content: "";
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: red no-repeat center;
    background-image: url("../images/Icon Arrow Down.svg");
    bottom: 0;
    left: calc(50% - 28px);
}

section.page_content_blog_articles_first {
    margin: 100px auto;
}
.page_content_blog_articles_first .container {
    display: flex;
    flex-direction: column;
}

h2.section_title {
    display: flex;
    text-align: center;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    margin-bottom: 35px;
    align-self: center;
}

h2.section_title::before {
    content: "";
    width: 50px;
    height: 3px;
    background: red;
    box-shadow: 0px 1px 6px #FF00004D;
    border-radius: 8px;
    position: absolute;
    left: -60px;
    top: calc(50% - 3px);
}

h2.section_title::after {
    content: "";
    width: 50px;
    height: 3px;
    background: red;
    box-shadow: 0px 1px 6px #FF00004D;
    border-radius: 8px;
    position: absolute;
    right: -60px;
    top: calc(50% - 3px);
}

.articles_blog {
    display: flex;
    justify-content: space-between;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 352px;
    color: #6A6A6A;
}
.article img {
    width: 350px;
    /*height: 234px; */
}

.article-title {
    text-align: left;
    text-transform: uppercase;
    font: normal normal normal 19px/26px Nunito Sans;
    margin-top: 25px;
}

.article-text {
    text-align: left;
    font: normal normal 300 14px/19px Open Sans;
    margin-top: 15px;
    padding-right: 92px;
}

.article-btn {
    background: #FF0000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #FF00004D;
    border-radius: 40px;
    margin-top: 15px;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

section.page_content_blog_articles_second {
    padding: 60px 0 100px 0;
    background: #28272C 0% 0% no-repeat padding-box;
    color: white;
}

.page_content_blog_articles_second .container {
    display: flex;
    flex-direction: column;
}

.page_content_blog_articles_second h2.section2_title2 {
    color: white;
}
h2.section2_title2 {
    display: flex;
    text-align: center;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    margin-bottom: 35px;
    align-self: center;
}
h2.section2_title2::before {
    content: "";
    width: 50px;
    height: 3px;
    background: red;
    box-shadow: 0px 1px 6px #FF00004D;
    border-radius: 8px;
    position: absolute;
    left: -60px;
    top: calc(50% - 3px);
}

h2.section2_title2::after {
    content: "";
    width: 50px;
    height: 3px;
    background: red;
    box-shadow: 0px 1px 6px #FF00004D;
    border-radius: 8px;
    position: absolute;
    right: -60px;
    top: calc(50% - 3px);
}
.article_service {
    display: flex;
    justify-content: space-between;
}

.article_section2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 235px;
}
.article_service img {
    width: 170px;
    /*height: 234px; */
}

.article-title {
    text-align: left;
    text-transform: uppercase;
    font: normal normal normal 19px/26px Nunito Sans;
    margin-top: 15px;
}

.article-text {
    text-align: center;
    font: normal normal 300 14px/19px Open Sans;
    margin-top: 15px;
    padding-right: 92px;
}
.article-btn-section2 {
    background: #FF0000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #FF00004D;
    border-radius: 40px;
    margin-top: 15px;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
section.page_content_contact {
    margin: 100px auto 65px auto;
}
.page_content_contact .container {
    display: flex;
    flex-direction: column;
}
.page_content_contact .section3_title {
    color: black;
    display: flex;
    text-align: center;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    text-decoration: none;
    position: relative;
    margin-bottom: 35px;
    align-self: center;
}
h2.section3_title::before {
    content: "";
    width: 50px;
    height: 3px;
    background: red;
    box-shadow: 0px 1px 6px #FF00004D;
    border-radius: 8px;
    position: absolute;
    left: -60px;
    top: calc(50% - 3px);
}

h2.section3_title::after {
    content: "";
    width: 50px;
    height: 3px;
    background: red;
    box-shadow: 0px 1px 6px #FF00004D;
    border-radius: 8px;
    position: absolute;
    right: -60px;
    top: calc(50% - 3px);
}
.section3_content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.section3_content > *{
    flex: 0 1 0;
}

.section3_content img {
    width: 444px;
    margin-right: 16px;
}

form {
    display: flex;
    flex-direction: column;
}
.form_fields {
    display: flex;
    flex-direction: column;
}
.form_fields:first-of-type {
    margin-bottom: 20px;
}

.form_fields_name,
.form_fields_email,
textarea {
    width: 444px;
    margin-bottom: 20px;
    padding: 8px 12px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    color: #B2B2B2;
}
/*.form_fields .form_label {
    font: normal normal 300 10px/14px Open Sans;
    color: #B2B2B2;
} */

input [type="text"]:focus,
input [type="email"]:focus,
textarea:focus {
    box-shadow: 0 1px 6px #FF00004D;
    border: 1px solid #FF0000;
}
input::placeholder,
textarea::placeholder {
    font: normal normal normal 16px/22px Nunito Sans;
    letter-spacing: 0;
    color: #B2B2B2;
}

textarea {
    resize: none;
    height: 140px;
}
label {
    font: normal normal 300 10px/14px Open Sans;
    color: #B2B2B2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 20px;
}
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.customer-checkbox {
    cursor: pointer;
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid;
    flex: 0 1 22px;
    margin-right: 10px;
    border-radius: 8px;
}
input[type="checkbox"]:checked + .customer-checkbox {
    background-image: url("../images/Icon Check.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.label-for-checkbox {
    cursor: pointer;
    flex: 1 1 0;
}

.btn_form {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #FF00004D;
    border: 1px solid #FF0000;
    border-radius: 40px;
    color: #FF0000;
    padding: 11px 52px;
    align-self: flex-end;
}

footer {
    padding: 40px 0;
    background: #28272C 0 0 no-repeat padding-box;
}
.footer a {
    color: white;
    text-decoration: none;
}

.footer .small_logo {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.page-icon img {
    width: 16px;
   margin-right: 8px;
}
.footer .page-icon {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}
.footer span.logo {
    color: #FF0000;
    text-transform: uppercase;
    text-decoration: none;
   /* font-family: 'Nunito Sans', sans-serif; */
}
footer span {
    color: #FFFFFF;
}
.footer-menu {
    flex-grow: 1;
    font: normal normal bold 14px/19px Nunito Sans;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer-menu-list li {
    padding-bottom: 8px;
}
.footer-menu-list li:last-child {
    padding-bottom: 0;
}
.footer-menu-list a:hover {
    color: red;
}
.footer .copyright {
    flex-grow: 5;
    font: normal normal 300 12px/16px Nunito Sans;
    color: #D1D1D1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}